In [1]:
import pandas as pd
import numpy as np

from xgboost import XGBClassifier

In [12]:
df = pd.read_csv("C://Users//admin//Desktop//Employee_Promotion//Data_Preprocessing//raw_data.csv")
df_test_raw = pd.read_csv("C://Users//admin//Desktop//Employee_Promotion//Data_Preprocessing//raw_test_data.csv")

In [18]:
df.head()

,avg_training_score,region,awards_won,KPIs_met,previous_year_rating,department_Operations,department_Procurement,department_Sales & Marketing,department_Technology,department_other,is_promoted
0,49,7,0,1,5,0,0,1,0,0,0
1,60,22,0,0,5,1,0,0,0,0,0
2,50,19,0,0,3,0,0,1,0,0,0
3,50,23,0,0,1,0,0,1,0,0,0
4,73,26,0,0,3,0,0,0,1,0,0

In [13]:
x = df.drop('is_promoted' ,  axis = 1)
y = df.is_promoted

In [6]:
df_test_raw.shape

(23490, 10)

In [15]:
xgb = XGBClassifier()
xgb.fit(x , y )
result = xgb.predict(df_test_raw)
result = pd.DataFrame(result)

#import pickle
#pickle.dump(xgb, open('model.pkl' , 'wb'))
#model=pickle.load(open('model.pkl' , 'rb'))

In [22]:
result.to_csv("C://Users//admin//Desktop//Employee_Promotion//Data_Preprocessing//result.csv", index = False)